{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Knowflow Web | Kuota Master</title>
{% endblock %}

{% block header %}
  <a href="#" class="navbar-brand">KNOWFLOW WEB</a>
{% endblock %}

{% block username %}
<a class="nav-link" data-toggle="dropdown" href="#">
  <img src="{% static 'dist/img/user.png' %}" width="32" height="32" class="rounded-circle" alt="User Image">
  <span class="ml-2 d-none d-lg-inline-block">{{user.get_full_name}}</span>
</a>
<form id="logout-form" method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <a href="#" class="dropdown-item" onclick="showConfirmation(event)">
      <div class="media">
        <img src="{% static 'dist/img/log-out.png' %}" alt="Log Out" width="30" class="mr-3">
        <div class="media-body">
          <h6 class="mt-0 mb-1 font-weight-bold">Logout</h6>
        </div>
      </div>
    </a>
  </div>
</form>

<script>
  function showConfirmation(event) {
    event.preventDefault();
    if (confirm("Are you sure you want to logout?")) {
      // User clicked "OK"
      document.getElementById('logout-form').submit();
    } else {
      // User clicked "Cancel"
    }
  }
</script>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-header">TRANSPORTASI</li>
      <!-- Quota Transaction -->
      <li class="nav-item">
        <a href="/quotaTransaction" class="nav-link">
          <i class="nav-icon fas fa-car"></i>
          <p>
            Quota Transaction
          </p>
        </a>
      </li>
      <!-- Kuota Master -->
      <li class="nav-item">
        <a href="/kuotaMaster" class="nav-link active">
          <i class="nav-icon fas fa-archive"></i>
          <p>
            Kuota Master
          </p>
        </a>
      </li>
      <!-- Vehicle Master -->
      <li class="nav-item">
        <a href="/vehicleMaster" class="nav-link">
          <i class="nav-icon fas fa-truck"></i>
          <p>
            Input ID Kendaraan
          </p>
        </a>
      </li>
      <!-- Import Vehicle Master -->
      <li class="nav-item">
        <a href="/importVehicleMaster" class="nav-link">
          <i class="nav-icon fas fa-upload"></i>
          <p>
            Upload ID Kendaraan
          </p>
        </a>
      </li>
      <!-- Vehicle Data -->
      <li class="nav-item">
        <a href="/vehicleData" class="nav-link">
          <i class="nav-icon fas fa-car-side"></i>
          <p>
            Vehicle Master
          </p>
        </a>
      </li>
      <!-- Vehicle Type Master -->
      <li class="nav-item">
        <a href="/vehicleTypeMaster" class="nav-link">
          <i class="nav-icon fas fa-truck-pickup"></i>
          <p>
            Vehicle Type Master
          </p>
        </a>
      </li>
      <!-- Site Master -->
      <li class="nav-item">
        <a href="/siteMaster" class="nav-link">
          <i class="nav-icon fas fa-map-marked-alt"></i>
          <p>
            Site Master
          </p>
        </a>
      </li>
      <!-- Product Master -->
      <li class="nav-item">
        <a href="/productMaster" class="nav-link">
          <i class="nav-icon fas fa-cubes"></i>
          <p>
            Product Master
          </p>
        </a>
      </li>
       <!-- unblock -->
       <li class="nav-item">
        <a href="/unblock" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Data Bloking
          </p>
        </a>
      </li>
      <li class="nav-header">NON TRANSPORTASI</li>
      <li class="nav-item">
        <a href="/uploadExcelNonkendaraan" class="nav-link">
          <i class="nav-icon fas fa-file-excel"></i>
          <p>
            Upload Excel Data
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/inputDataDetailNonkendaraan" class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            Input Data Detail
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/uploadSuratRekomNonkendaraan" class="nav-link">
          <i class="nav-icon fas fa-upload"></i>
          <p>
            Upload Surat Rekom
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/dataDetailNonkendaraan" class="nav-link">
          <i class="nav-icon fas fa-file-alt"></i>
          <p>
            Data Detail
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/transactionNonkendaraan" class="nav-link">
          <i class="nav-icon fas fa-exchange-alt"></i>
          <p>
            Transaction
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/generateScriptNonKendaraan" class="nav-link">
          <i class="nav-icon fas fa-code"></i>
          <p>
            Script Generator
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/dataBph" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Data BPH
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/dataOffline" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Ubah UUID
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/editExcelData" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Edit Excel Data
          </p>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a href="/reportTransactionNonKendaraan" class="nav-link">
            <i class="nav-icon fas fa-database"></i>
            <p>
                Report Transaction
            </p>
        </a>
      </li> -->
      <li class="nav-header">USER</li>
      <!-- User Setting -->
      <li class="nav-item">
        <a href="/userSetting" class="nav-link">
          <i class="nav-icon fas fa-cogs"></i>
          <p>
            User Setting
          </p>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
{% endblock %}

{% block header_page %}
  <h1 class="m-0">KUOTA MASTER</h1>
{% endblock %}

{% block body %}
<!-- Search -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Search Data</h3>
  </div>
  <div class="card-body">
    <form class="form-inline" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="site_registration" class="mr-2">Site Registration: </label>
        <input type="text" class="form-control mr-2" name="site_registration" id="site_registration">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

<!-- Tabel -->
<style>
  table th,
  table td {
    white-space: nowrap;
  }

  .required-field {
    color: red;
    vertical-align: super;
  }
</style>

<style>
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination li {
    list-style: none;
    margin: 0 5px;
  }
  
  .pagination li a {
    display: block;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
  }
  
  .pagination li a:hover {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .pagination li.active a {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination li.disabled a {
    background-color: #f2f2f2;
    color: #ccc;
    pointer-events: none;
  }
  
  .pagination li:first-child a:before {
    content: "\2190";
    margin-right: 5px;
  }
  
  .pagination li:last-child a:after {
    content: "\2192";
    margin-left: 5px;
  }
</style>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Table Kuota Master</h3>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-striped" id="quotaTable">
      <thead>
        <tr>
          <th class="text-center" style="display:none;">id</th>
          <th class="text-center">Provinsi</th>
          <th class="text-center">Site Registration</th>
          <th class="text-center">Site Name</th>
          <th class="text-center">Vehicle ID</th>
          <th class="text-center">Volume Quota</th>
          <th class="text-center">Frequency Quota</th>
          <th class="text-center">ID Product</th>
          <th class="text-center">Delete Status</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for row in page_obj %}
        <tr>
            <td class="text-center" style="display:none;">{{ row.id }}</td>
            <td class="text-center">{{ row.provinsi }}</td>
            <td class="text-center">{{ row.site_registration }}</td>
            <td class="text-center">{{ row.site_name }}</td>
            <td class="text-center">{{ row.vehicletype_id }}</td>
            <td class="text-center">{{ row.volume_quota }}</td>
            <td class="text-center">{{ row.frequency_quota }}</td>
            <td class="text-center">{{ row.id_product }}</td>
            <td class="text-center">{{ row.deleted }}</td>
            <td class="text-center"><a class="btn btn-success" id="editBtn">Edit</a></td>
            <td class="text-center"><a class="btn btn-danger" href="{% url 'kuotaMaster:delete' row.id %}" id="deleteBtn" type="Submit">Change Delete Status</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</div>

<!-- Form -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Add or Modify</h3>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="card-body">
      <table class="table">
        <tr>
          <td>
            <div class="form-group">
              <label for="site_name">Site Name <span class="required-field"><sup style="font-size: 90%;">*</sup></span></label>
              <select class="form-control" id="site_name" name="site_name" onchange="getSiteData()" required>
                <option></option>
                {% for site in sites %}
                  <option value="{{ site.site_name }}">{{ site.site_name }}</option>
                {% endfor %}
              </select>
            </div>
          </td>        
          <td>
            <div class="form-group">
              <label for="provinsi">Provinsi</label>
              <input type="text" class="form-control" id="provinsi" name="provinsi" disabled>
              <input type="hidden" class="form-control" id="provinsi_hidden" name="provinsi_hidden">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="site_regis">Site Registration</label>
              <input type="text" class="form-control" id="site_regis" name="site_regis" disabled>
              <input type="hidden" class="form-control" id="site_regis_hidden" name="site_regis_hidden">
              <input type="hidden" class="form-control" id="id_modify" name="id_modify">
            </div>
            <td>
              <div class="form-group">
                <label for="frecuency_quota">Frequency Quota <span class="required-field"><sup style="font-size: 90%;">*</sup></span></label>
                <input type="number" class="form-control" id="frequency_quota" name="frequency_quota" min="0" max="99999" step="1" required>
              </div>
            </td>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <label for="vehicle_type">Vehicle Type <span class="required-field"><sup style="font-size: 90%;">*</sup></span></label>
              <select class="form-control" id="vehicle_type" name="vehicle_type" required>
                <option></option>
                {% for vehicle_type in vehicle_types %}
                  <option value="{{ vehicle_type.id }}">{{ vehicle_type.description }}</option>
                {% endfor %}
              </select>
            </div>
          </td>        
          <td>
            <div class="form-group">
              <label for="volume_quota">Volume Quota <span class="required-field"><sup style="font-size: 90%;">*</sup></span></label>
              <input type="number" class="form-control" id="volume_quota" name="volume_quota" min="0" max="99999" step="1" required>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="product_name">Product Name <span class="required-field"><sup style="font-size: 90%;">*</sup></span></label>
              <select class="form-control" id="product_name" name="product_name"  required>
                <option></option>
                {% for product in products %}
                  <option value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
              </select>
            </div>
          </td>
        </tr>
      </table>
      <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
      <button type="submit" class="btn btn-success" id="modifyBtn" disabled>Modify</button>
      <button type="button" class="btn btn-danger" id="cancelmodifyBtn" disabled>Cancel Modify</button>
    </div>
  </form>
</div>


<script>
  const editButtons = document.querySelectorAll("#editBtn");
  const cancelModifyBtn = document.getElementById("cancelmodifyBtn");
  const site_name_entry = document.getElementById("site_name");
  const provinsi_entry = document.getElementById("provinsi");
  const provinsi_entry_hidden = document.getElementById("provinsi_hidden");
  const site_registration_entry = document.getElementById("site_regis");
  const site_registration_entry_hidden = document.getElementById("site_regis_hidden");
  const frequency_quota_entry = document.getElementById("frequency_quota");
  const vehicle_type_entry = document.getElementById("vehicle_type");
  const volume_quota_entry = document.getElementById("volume_quota");
  const product_name_entry = document.getElementById("product_name");
  const id_entry_modify = document.getElementById("id_modify");
  const submit_btn = document.getElementById("submitBtn");
  const modify_btn = document.getElementById("modifyBtn");
  const cancel_modify_btn = document.getElementById("cancelmodifyBtn");

  editButtons.forEach(function(editButton) {
    editButton.addEventListener("click", function() {
      // Get the parent row of the clicked edit button
      const selectedRow = this.closest("tr");

      // Remove the "selected" class from all rows
      document.querySelectorAll("tr").forEach(function(row) {
        row.classList.remove("selected");
      });

      // Add the "selected" class to the parent row of the clicked edit button
      selectedRow.classList.add("selected");

      // Get the data from the selected table cells
      const idCell = selectedRow.querySelector("td:nth-child(1)");
      const provinsiCell = selectedRow.querySelector("td:nth-child(2)");
      const siteRegisCell = selectedRow.querySelector("td:nth-child(3)");
      const siteNameCell = selectedRow.querySelector("td:nth-child(4)");
      const vehicleIdCell = selectedRow.querySelector("td:nth-child(5)");
      const volumeQuotaCell = selectedRow.querySelector("td:nth-child(6)");
      const frequencyQuotaCell = selectedRow.querySelector("td:nth-child(7)");
      const idProductCell = selectedRow.querySelector("td:nth-child(8)");

      // Populate the input fields with the data from the selected table cells
      site_name_entry.value = siteNameCell.innerText;
      provinsi_entry.value = provinsiCell.innerText;
      site_registration_entry.value = siteRegisCell.innerText;
      frequency_quota_entry.value = frequencyQuotaCell.innerText;
      vehicle_type_entry.value = vehicleIdCell.innerText;
      volume_quota_entry.value = volumeQuotaCell.innerText;
      product_name_entry.value = idProductCell.innerText;
      id_entry_modify.value = idCell.innerText;
      provinsi_entry_hidden.value = provinsiCell.innerText;
      site_registration_entry_hidden.value = siteRegisCell.innerText;

      // Remove the "disabled" attribute from the input elements
      modify_btn.removeAttribute("disabled");
      cancel_modify_btn.removeAttribute("disabled");
      submit_btn.disabled = true;

      // Scroll to the bottom of the page
      window.scrollTo(0, document.body.scrollHeight);
    });
  });

  cancel_modify_btn.addEventListener("click", function() {
    // Clear the input fields
    site_name_entry.value = "";
    provinsi_entry.value = "";
    site_registration_entry.value = "";
    id_entry_modify.value = "";
    vehicle_type_entry.value = "";
    volume_quota_entry.value = "";
    product_name_entry.value = "";
    frequency_quota_entry.value = "0";
    provinsi_entry_hidden.value = "";;
    site_registration_entry_hidden.value = "";

    // Disable the Modify and Cancel Modify buttons, and enable the Submit button
    modify_btn.disabled = true;
    cancel_modify_btn.disabled = true;
    submit_btn.disabled = false;

    // Remove the "selected" class from all rows
    tableRows.forEach(function(row) {
      row.classList.remove("selected");
    });
  });

  function getSiteData() {
    var siteName = document.getElementById("site_name").value;
    if (siteName) {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/kuotaMaster/get_site_data/" + siteName + "/");
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var data = JSON.parse(xhr.responseText);
          document.getElementById("provinsi").value = data.provinsi;
          document.getElementById("site_regis").value = data.site_registration;
          document.getElementById("provinsi_hidden").value = data.provinsi;
          document.getElementById("site_regis_hidden").value = data.site_registration;
        }
      };
      xhr.send();
    }
  }
</script>
{% endblock %}
