{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Session</title>
  <style>
    body {
      background-color: #f8f9fa;
      font-family: Arial, sans-serif;
      color: #343a40;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 50px;
      text-align: center;
    }
    h1 {
      font-size: 36px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      margin-bottom: 20px;
    }
    a {
      color: #0a81d1;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="{% static 'dist/img/warning.png' %}" width="100" height="100" alt="Warning Image">
    <h1>Oops! You Have No Access for this application.</h1>
    <p>Please login to <a href="http://systemmanager.akr.co.id/">SYSTEM MANAGER</a> and open your application.</p>
    <p style="color: red;">If you any problem to open application, please contact system administrator or IT Help Desk.</p>
  </div>
</body>
</html>
