{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Knowflow Web | Upload Excel Data Non Transportasi</title>
{% endblock %}

{% block header %}
  <a href="#" class="navbar-brand">KNOWFLOW WEB</a>
{% endblock %}

{% block username %}
<a class="nav-link" data-toggle="dropdown" href="#">
  <img src="{% static 'dist/img/user.png' %}" width="32" height="32" class="rounded-circle" alt="User Image">
  <span class="ml-2 d-none d-lg-inline-block">{{user.get_full_name}}</span>
</a>
<form id="logout-form" method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <a href="#" class="dropdown-item" onclick="showConfirmation(event)">
      <div class="media">
        <img src="{% static 'dist/img/log-out.png' %}" alt="Log Out" width="30" class="mr-3">
        <div class="media-body">
          <h6 class="mt-0 mb-1 font-weight-bold">Logout</h6>
        </div>
      </div>
    </a>
  </div>
</form>

<script>
  function showConfirmation(event) {
    event.preventDefault();
    if (confirm("Are you sure you want to logout?")) {
      // User clicked "OK"
      document.getElementById('logout-form').submit();
    } else {
      // User clicked "Cancel"
    }
  }
</script>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-header">TRANSPORTASI</li>
      <!-- Vehicle Master -->
      <li class="nav-item">
        <a href="/vehicleMaster" class="nav-link">
          <i class="nav-icon fas fa-truck"></i>
          <p>
            Input ID Kendaraan
          </p>
        </a>
      </li>
      <!-- Import Vehicle Master -->
      <li class="nav-item">
        <a href="/importVehicleMaster" class="nav-link">
          <i class="nav-icon fas fa-upload"></i>
          <p>
            Upload ID Kendaraan
          </p>
        </a>
      </li>
      <!-- Vehicle Data -->
      <li class="nav-item">
        <a href="/vehicleData" class="nav-link">
          <i class="nav-icon fas fa-car-side"></i>
          <p>
            Vehicle Master
          </p>
        </a>
      </li>
      <!-- unblock -->
      <li class="nav-item">
        <a href="/unblock" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Data Bloking
          </p>
        </a>
      </li>
      <li class="nav-header">NON TRANSPORTASI</li>
      <li class="nav-item">
        <a href="/uploadExcelNonkendaraan" class="nav-link active">
          <i class="nav-icon fas fa-file-excel"></i>
          <p>
            Upload Excel Data
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/inputDataDetailNonkendaraan" class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            Input Data Detail
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/uploadSuratRekomNonkendaraan" class="nav-link">
          <i class="nav-icon fas fa-upload"></i>
          <p>
            Upload Surat Rekom
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/dataDetailNonkendaraan" class="nav-link">
          <i class="nav-icon fas fa-file-alt"></i>
          <p>
            Data Detail
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/dataBph" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Data BPH
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/dataOffline" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Ubah UUID
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/editExcelData" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Edit Excel Data
          </p>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a href="/reportTransactionNonKendaraan" class="nav-link">
            <i class="nav-icon fas fa-database"></i>
            <p>
                Report Transaction
            </p>
        </a>
      </li> -->
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
{% endblock %}

{% block header_page %}
  <div class="header-container">
    <h3 class="header-title">Upload Excel Data Non Transportasi</h3>
  </div>
{% endblock %}

{% block body %}
  <!-- Import excel -->
  <div class="card">
    <div class="card-header">
        <h3 class="card-title">Import Data (Excel File) |  </h3>
        <p class="keterangan"> * Maksimal data yang dapat disubmit yaitu 5000 data & pastikan terhubung ke jaringan internet</p>
    </div>
    <div class="card-body">
        <form action="{% url 'uploadExcelNonkendaraan:import-excel' %}" method="POST" enctype="multipart/form-data" id="importForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="excelFile">Select Excel File:</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="excelFile" name="excelFile" accept=".xlsx, .xls" onchange="updateFileName(this)">
                    <label class="custom-file-label" for="excelFile">Choose file</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="submit_excel_button" disabled>Import Excel File</button>
        </form>
    </div>
  </div>

  <!-- Loading Popup -->
  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
          <p class="mt-2">Loading...</p>
        </div>
      </div>
    </div>
  </div>

  <!-- style -->
  <style>
    .keterangan {
      color: red;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    table th,
    table td {
        white-space: nowrap;
    }

    .duplicate-row {
      background-color: rgb(247, 99, 99);
      position: relative;
      cursor: pointer;
    }

    .existed-row {
      background-color: rgb(238, 162, 47);
      position: relative;
      cursor: pointer;
    }

    .empty-row {
      background-color: rgb(238, 225, 47);
      position: relative;
      cursor: pointer;
    }

    .empty-cell {
      background-color: rgb(181, 184, 6);
      position: relative;
      cursor: pointer;
    }

    .wrong-data {
      background-color: rgb(228, 46, 33);
      position: relative;
      cursor: pointer;
    }

    .duplicate-row:hover::after {
      content: "Data terduplikasi";
      visibility: visible;
      background-color: #0413ee;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      top: -35px;
      left: 7%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .existed-row:hover::after {
      content: "Nomor kendaraan sudah ada di database";
      visibility: visible;
      background-color: #0fc57f;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      top: -35px;
      left: 9.5%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .empty-row:hover::after {
      content: "Terdapat baris kosong";
      visibility: visible;
      background-color: #c5670f;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .empty-cell:hover::after {
      content: "Terdapat data yang kosong";
      visibility: visible;
      background-color: #857808;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .wrong-data[data-tooltip]:hover::after {
      content: attr(data-tooltip);
      visibility: visible;
      background-color: #c5670f;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      top: -35px;
      left: 9.5%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .tooltip {
      visibility: hidden;
    }

    .duplicate-row:hover .tooltip {
      visibility: visible;
    }

    .disabled {
      pointer-events: none; /* Disable click events */
      opacity: 0.5; /* Apply a visual effect to indicate disabled state */
      cursor: not-allowed; /* Change the cursor to indicate disabled state */
    }

    .modal .spinner-border {
      display: inline-block;
      width: 3rem;
      height: 3rem;
    }

    .table-responsive {
      overflow-y: auto;
      max-height: 700px;
      /* max-height: 50%; */
    }

  </style>

  <!-- table -->
  <div class="card">
    <div class="card-header">
        <h3 class="card-title">Table Data Non Kendaraan</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-primary" id="submit_data_button" disabled>Submit Data</button>
            <a href="" class="btn btn-danger disabled" id="cancel_button">Cancel</a>
            <a href="{% url 'uploadExcelNonkendaraan:download-template' %}" class="btn btn-success">Download Template</a>
        </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table" id="nonVehicleTable">
          <thead>
              <tr>
                  <th class="text-center">No Penyalur</th>
                  <th class="text-center">ID Konsumen</th>
                  <th class="text-center">Nama</th>
                  <th class="text-center">NIK</th>
                  <th class="text-center">Alamat</th>
                  <th class="text-center">Sektor Konsumen Pengguna</th>
                  <th class="text-center">Nama Kapal</th>
                  <th class="text-center">Jenis Mesin </th>
                  <th class="text-center">Jumlah Mesin</th>
                  <th class="text-center">Jumlah Daya Mesin (PK/HP)</th>
                  <th class="text-center">Jam Penggunaan Mesin per hari</th>
                  <th class="text-center">Klasifikasi/Kapasitas GT</th>
                  <th class="text-center">Lama Operasi (hari per bulan)</th>
                  <th class="text-center">Konsumsi JBT (Bulan)</th>
                  <th class="text-center">Alokasi Volume</th>
                  <th class="text-center">Tanggal Awal Surat Rekomendasi</th>
                  <th class="text-center">Tanggal Akhir Surat Rekomendasi</th>
                  <th class="text-center">Nomor Surat Rekomendasi</th>

                  <th class="text-center">Badan Usaha</th>
                  <th class="text-center">Nama Usaha</th>
                  <th class="text-center">Jenis BBM</th>
                  <th class="text-center">Jenis Usaha</th>
                  <th class="text-center">Kode Provinsi</th>
                  <th class="text-center">Kode Kabupaten Kota</th>
                  <th class="text-center">Kode Kecamatan</th>
                  <th class="text-center">Kode Kelurahan Desa</th>
                  <th class="text-center">Penerbit</th>
              </tr>
          </thead>
          <tbody id="tableBody">
              {% for item in data %}
              <tr {% if item.is_duplicate %}class="duplicate-row"{% endif %}
                  {% if item.is_existed %}class="existed-row"{% endif %}
                  {% if item.is_empty_row %}class="empty-row"{% endif %}
                  {% if item.is_empty_cell %}class="empty-cell"{% endif %}
                  {% if item.error_messages %}class="wrong-data" data-tooltip="{{ item.error_messages }}"{% endif %}>
                  <td class="text-center">{{ item.No_Penyalur }}</td>
                  <td class="text-center">{{ item.ID_Konsumen }}</td>
                  <td class="text-center">{{ item.Nama }}</td>
                  <td class="text-center">{{ item.NIK }}</td>
                  <td class="text-center">{{ item.Alamat }}</td>
                  <td class="text-center">{{ item.Sektor_Konsumen_Pengguna }}</td>
                  <td class="text-center">{{ item.Nama_Kapal }}</td>
                  <td class="text-center">{{ item.Jenis_Mesin }}</td>
                  <td class="text-center">{{ item.Jumlah_Mesin }}</td>
                  <td class="text-center">{{ item.Jumlah_Daya_Mesin_PK_atau_HP }}</td>
                  <td class="text-center">{{ item.Penggunaan_Mesin_Jam_per_hari }}</td>
                  <td class="text-center">{{ item.Klasifikasi_atau_Kapasitas_GT }}</td>
                  <td class="text-center">{{ item.Lama_Operasi_hari_per_bulan }}</td>
                  <td class="text-center">{{ item.Konsumsi_JBT_Bulan_per_bulan }}</td>
                  <td class="text-center">{{ item.Alokasi_Volume }}</td>
                  <td class="text-center">{{ item.Tanggal_Awal_Surat_Rekomendasi|date:"Y-m-d" }}</td>
                  <td class="text-center">{{ item.Tanggal_Akhir_Surat_Rekomendasi|date:"Y-m-d" }}</td>
                  <td class="text-center">{{ item.Nomor_Surat_Rekomendasi }}</td>

                  <td class="text-center">{{ item.Badan_Usaha }}</td>
                  <td class="text-center">{{ item.Nama_Usaha }}</td>
                  <td class="text-center">{{ item.Jenis_BBM }}</td>
                  <td class="text-center">{{ item.Jenis_Usaha }}</td>
                  <td class="text-center">{{ item.Kode_Provinsi }}</td>
                  <td class="text-center">{{ item.Kode_Kabupaten_Kota }}</td>
                  <td class="text-center">{{ item.Kode_Kecamatan }}</td>
                  <td class="text-center">{{ item.Kode_Kelurahan_Desa }}</td>
                  <td class="text-center">{{ item.Penerbit }}</td>
              {% endfor %}
              </tr>
          </tbody>              
      </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
      // Move rows based on conditions
      $('#tableBody .duplicate-row').prependTo('#tableBody');
      $('#tableBody .existed-row').prependTo('#tableBody');
      $('#tableBody .empty-row').prependTo('#tableBody');
      $('#tableBody .empty-cell').prependTo('#tableBody');
      $('#tableBody .wrong-data').prependTo('#tableBody');
  });
  </script>

<script>
  // function to handle when file selected from browser
  function updateFileName(input) {
      var fileName = input.value.split('\\').pop(); // Extract file name
      var label = input.nextElementSibling; // Get the label element
      label.innerHTML = fileName; // Set the label text to the file name
      var submitButton = document.getElementById('submit_excel_button');
      if (input.files.length > 0) {
        submitButton.disabled = false; // Enable the button
      } else {
        submitButton.disabled = true; // Disable the button
      }
  }

  // Function to check for duplicate values in an array
  function hasDuplicates(array) {
      return new Set(array).size !== array.length;
  }
  
  // Get all the ID Konsumen values from the imported data
  const idKonsumenList = data.map(item => item.ID_Konsumen);
  
  // Check for duplicate ID Konsumen values
  const duplicateIdKonsumen = hasDuplicates(idKonsumenList);
  
  // Add 'is_duplicate' property to each item in the data list
  data.forEach(item => {
      item.is_duplicate = duplicateIdKonsumen && hasDuplicates(idKonsumenList.filter(value => value === item.ID_Konsumen));
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
        $(document).ready(function() {
            // Enable "Submit Data" button when there is data in the table
            checkTableData();

            function checkTableData() {
                var tableData = $('#nonVehicleTable tbody tr').length;
                var duplicateRows = $('#nonVehicleTable .duplicate-row').length;
                var existedRows = $('#nonVehicleTable .existed-row').length;
                var emptyRows = $('#nonVehicleTable .empty-row').length;
                var emptyCells = $('#nonVehicleTable .empty-cell').length;
                var wrongDatas = $('#nonVehicleTable .wrong-data').length;
                var cancelButton = document.getElementById('cancel_button');
                
                if (tableData > 0 && duplicateRows === 0 && existedRows === 0 && emptyRows === 0 && emptyCells === 0 && wrongDatas === 0) {
                    $('#submit_data_button').prop('disabled', false);
                    cancelButton.classList.remove('disabled');
                } else {
                    $('#submit_data_button').prop('disabled', true);
                }
                
                if (tableData > 0) {
                    cancelButton.classList.remove('disabled');
                } else {
                    cancelButton.classList.add('disabled');
                }
            }

            // Show loading popup when the form is submitted
            $('#importForm').submit(function() {
              $('#loadingModal').modal('show');
            });

            // Monitor changes in the table
            $('#nonVehicleTable').on('DOMSubtreeModified', 'tbody', checkTableData);
        });
  </script>

<script>
  $(document).ready(function() {
    // Function to add data to VEHICLETYPEMASTER table
    function addDataToDatabase() {
        var tableData = $('#nonVehicleTable tbody tr');
        var formData = [];
        
        // Iterate through each table row and extract data
        tableData.each(function() {
            // Extract data from table rows
            var rowData = {
                'No_Penyalur': $(this).find('td:eq(0)').text(),
                'ID_Konsumen': $(this).find('td:eq(1)').text(),
                'Nama': $(this).find('td:eq(2)').text(),
                'NIK': $(this).find('td:eq(3)').text(),
                'Alamat': $(this).find('td:eq(4)').text(),
                'Sektor_Konsumen_Pengguna': $(this).find('td:eq(5)').text(),
                'Nama_Kapal': $(this).find('td:eq(6)').text(),
                'Jenis_Mesin': $(this).find('td:eq(7)').text(),
                'Jumlah_Mesin': $(this).find('td:eq(8)').text(),
                'Jumlah_Daya_Mesin_PK_atau_HP': $(this).find('td:eq(9)').text(),
                'Penggunaan_Mesin_Jam_per_hari': $(this).find('td:eq(10)').text(),
                'Klasifikasi_atau_Kapasitas_GT': $(this).find('td:eq(11)').text(),
                'Lama_Operasi_hari_per_bulan': $(this).find('td:eq(12)').text(),
                'Konsumsi_JBT_Bulan_per_bulan': $(this).find('td:eq(13)').text(),
                'Alokasi_Volume': $(this).find('td:eq(14)').text(),
                'Tanggal_Awal_Surat_Rekomendasi': $(this).find('td:eq(15)').text(),
                'Tanggal_Akhir_Surat_Rekomendasi': $(this).find('td:eq(16)').text(),
                'Nomor_Surat_Rekomendasi': $(this).find('td:eq(17)').text(),
                'Badan_Usaha': $(this).find('td:eq(18)').text(),
                'Nama_Usaha': $(this).find('td:eq(19)').text(),
                'Jenis_BBM': $(this).find('td:eq(20)').text(),
                'Jenis_Usaha': $(this).find('td:eq(21)').text(),
                'Kode_Provinsi': $(this).find('td:eq(22)').text(),
                'Kode_Kabupaten_Kota': $(this).find('td:eq(23)').text(),
                'Kode_Kecamatan': $(this).find('td:eq(24)').text(),
                'Kode_Kelurahan_Desa': $(this).find('td:eq(25)').text(),
                'Penerbit': $(this).find('td:eq(26)').text(),
            };
            
            formData.push(rowData);
        });

        $('#loadingModal').modal('show');
        
        // Send the form data to the server
        $.ajax({
            type: 'POST',
            url: "{% url 'uploadExcelNonkendaraan:add-data' %}",
            data: {
                'form_data': JSON.stringify(formData),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                $('#submit_data_button').prop('disabled', true);
                // Handle the response from the server
                console.log(response);
                location.reload();
                alert('Berhasil Menyimpan Data'); // Display success message
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
                alert('Gagal Menyimpan Data'); // Display error message
            }
        });
    }
    
    // Event handler for the "Submit Data" button click
    $('#submit_data_button').on('click', function() {
        addDataToDatabase();
    });
});
</script>

{% endblock %}

